

.container{
    position: relative;
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.76), rgba(0, 0, 0, 0.5)), url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/meal-prep-index-1566932947.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: -25px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    height: 80%;
    margin: 20px auto;
    top: 20px;
    width: 92%;
    border-radius: 5px;
    padding: 25px;
}