
<header>
    <nav class="nav">
        <ul class="nav-list-item">
            <p class="logo-title">COOKER</p>
            <li class="nav-list">
                <button mat-menu-item routerLink="/home"><mat-icon>account_circle</mat-icon>Home</button>
                <button mat-menu-item routerLink="/home"><mat-icon>account_circle</mat-icon>Recipes</button>
                <button mat-menu-item routerLink="add-recipe"><mat-icon>account_circle</mat-icon>Add Recipe</button>
            </li>
        
        </ul>
        <ul class="nav-list-items">
            <li class="nav-list-item">
                
                <button mat-menu-item routerLink="/login"><mat-icon>account_circle</mat-icon>Login</button>
                <button mat-menu-item routerLink="/register"><mat-icon>account_circle</mat-icon>Register</button>
                    <button mat-menu-item routerLink="/profile"><mat-icon>account_circle</mat-icon>Profile</button>
                    <button mat-menu-item (click)="logout()"><mat-icon>logout</mat-icon>Logout</button>
                
            </li>
        </ul>
    </nav>

</header>

<div class="content">
    <router-outlet></router-outlet>
  </div>

<footer>
    <p>Svetoslava Stoyanova's exam project.</p>
    <p> Copyright &copy 2020</p>
</footer>