<header>
    <nav class="nav">
        <ul class="nav-list-item">
            <!--<h1 class="logo-title">COOK</h1>
            <h3 class="logo-subtitle">With Us</h3>-->
            <li class="nav-list">
                <button mat-raised-button color="accent" routerLink="/home">Home</button>
                <button mat-raised-button color="accent" routerLink="/recipes">Recipes</button>
                <button mat-raised-button color="accent" routerLink="/add-recipe">Add Recipe</button>
            </li>
        
        </ul>
        <h1 class="logo-title">COOK</h1>
        <h2 class="logo-subtitle">WITH US</h2>

        <ul class="nav-list-items">
            <li class="nav-list-item">
                <button mat-raised-button color="accent" routerLink="/login">Login</button>
                <button mat-raised-button color="accent" routerLink="/register">Register</button>
                <button mat-raised-button color="accent" routerLink="/profile">Profile</button>
                <button mat-raised-button color="accent" (click)="logout()">Logout</button>
            </li>
        </ul>
    </nav>

</header>

<div class="content">
    <router-outlet></router-outlet>
</div>


<footer>
    <p>Svetoslava Stoyanova's exam project.</p>
    <p> Copyright &copy 2020</p>
</footer>