span.new {
    display: flex;
    align-items: center;
  }
  
  a.switch {
    display: inline-flex;
    align-items: center;
    padding: 0 0.5rem;
    font-weight: 600;
  }
  
  a.switch .mat-icon {
    margin-right: 0.25rem;
    height: 26px;
  }
  
h1{
  text-align: center;
    color: #3DB0D9;
    margin-bottom: 20px;
    padding: 20px;;
    text-shadow: 1px 1px 2px auto;
    font-weight: bolder;
    text-transform: uppercase;
}

.form-container{
  width: 50%;
  margin: 20px auto;
}

button{
  position: relative;
  left: 45%;
  margin: 10px;
}