<header>
    <nav class="nav">
        <ul class="nav-list-item">
            <p class="logo-title">COOKER</p>
            <li class="nav-list">
                <a href="#">Home</a>
                <a href="#">Recipes</a>
                <a href="#">Add a recipe</a>
            </li>
        
        </ul>
        <ul class="nav-list-items">
            <li class="nav-list-item">
                
                <a href="#">Login</a>
                <a href="#">Register</a>
                <a href="#">Profile</a>
                <a href="#">Logout</a>
            </li>
        </ul>
    </nav>

</header>
