<div class="form-container mat-elevation-z5 text-center"*ngIf="user$ | async as user">
  <h1 class="update-profile">Update Profile</h1>
  <div class="profile-image">
    <img
      width="120"
      height="120"
      class="margin-top mat-elevation-z1"
      [src]="user.photoURL ?? '/assets/image-placeholder.png'"
    />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file" (change)="uploadFile($event, user)" />

  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="firstName"
          placeholder="First Name"
        />
      </mat-form-field>
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="lastName"
          placeholder="Last Name"
        />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input
          type="text"
          matInput
          formControlName="displayName"
          placeholder="Display Name"
        />
      </mat-form-field>

    </div>

    <button type="submit" class="margin-top" mat-raised-button color="accent">Save</button>
  </form>
</div>
